
    <div class="navbar-nav listamenu navbar-nav navbar-dark bg-dark sidebar">
        
        <div class="imagen">
            <img src="assets/img/fotoperfil.jpg">
        </div>
        <div class="lista">
            <ul>
                <li><a class="nav-item nav-link active" routerLink="/">Home</a></li>
                <li><a class="nav-item nav-link" routerLink="/about">Sobre mi</a></li>
                <li><a class="nav-item nav-link" routerLink="/education">Educacion</a></li>
                <li><a class="nav-item nav-link" routerLink="/experience">Experiencia</a></li>
                <li><a class="nav-item nav-link" routerLink="/portafolio">Portafolio</a></li>
                <li><a class="nav-item nav-link" routerLink="/contact">Contacto</a></li>
            </ul>
            
        </div>
        <div class="row">
            <div class="col-12">
                <a href="https://github.com/rodrigo402?tab=repositories" target="_blank">
                    <i class="bi bi-github" style="padding-right: 15px; font-size: 2rem; color: cornflowerblue;"></i>
                </a>
                <a href="https://www.linkedin.com/in/rodrigo-gabriel-reynoso-00194a1b1/" target="_blank">
                    <i class="bi bi-linkedin" style="padding-right: 15px; font-size: 2rem; color: cornflowerblue;"></i>
                </a>
            </div>
        </div>
         
    </div>
  



