<div class="education">
    <div class="row">
        <h3><b>Educacion.</b></h3>
        <hr>
    </div>
    <div class="row estudios">
            <div class="col-12 col-lg-4">            
                <h3>Esc. Sup. N° 49 Cap. Justo José de Urquiza</h3>
                <h5>Analista de sistemas</h5>
                <h6>2015 - 2018</h6>
                <h6>Rosario, Santa Fe</h6>
            </div>
            <div class="col-12 col-lg-8">
                <ul>
                    <li>Desarrollo web (HTML, css, JavaScript, PHP, mysql, base de datos, Bootstrap)</li>
                    <li>Linux</li>
                    <li>Computación - arquitectura</li>
                    <li>Análisis y relevamiento de empresas</li>
                    <li>Redes (básico)</li>
                    <li>Inglés (técnico)</li>
                </ul>
            </div>
    </div>
    <div class="row estudios">
            <div class="col-12 col-lg-4">
                <h3>Escuela de Educacion Tecnica n° 550</h3>
                <h5>Técnico informático </h5>
                <h6>2010 - 2015</h6>
                <h6>Granadero Baigorria, Santa Fe</h6>
            </div>
            <div class="col-12 col-lg-8">
                <ul>
                    <li>Computación</li>
                    <li>Paquete office</li>
                    <li>Reparación y Mantenimiento de pc – hardware y software</li>
                    <li>Redes (básico)</li>
                    <li>Electrónica (básico)</li>
                    <li>Inglés (básico)</li>
                </ul>
            </div>
    </div>
    <hr>
    <h3><b>Cursos.</b></h3>
    <div class="row estudios">
        <div class="col-12 col-lg-4">
            <!-- <h3>Escuela de Educacion Tecnica n° 550</h3> -->
            <h5>Angular: De cero a experto Edición 2021</h5>
            <h6>Udemy</h6>
        </div>
        <div class="col-12 col-lg-8">
            <ul>
                <li>Componentes</li>
                <li>directivas</li>
                <li>servicios</li>
                <li>mapas</li>
                <li>gráficas</li>
                <li>JWT</li>
                <li>autenticación</li>
                <li>despliegues</li>
                <li>mongo</li>
                <li>Git - GitHub</li>
            </ul>
        </div>
    </div>
</div>
