.row{
--bs-gutter-x: 0;
--bs-gutter-y: 0;
}
body{
    height: 100%;
}


@media only screen and (max-width: 600px){
    .sidebar{
        width: 30%;
    }
    .contenido{
        width: 70%;
    }


}
/* #menu-toggle {
    display: block;
    position: absolute;
    margin-left: 15px;
    margin-top: 15px;
    padding: 5px;
} */

