.contenido{
    margin: 0 auto;
    min-height: 100vh;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../../../assets/img/fondohome.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.texto{
    color: #fff;
    text-align: center;
    padding-top: 150px;
}
.textopersonal{
    color: #fff;
    text-align: center;
    padding-top: 45px;
}