<div class="contenido">
    <div class="texto">
    <h1> Hola <span class="text-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">. </font></font></span>
        soy
        <span class="text-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Rodrigo Reynoso</font></font></span>
    </h1>
    <h4>Analista de sistemas | Front end web | Sysadmin</h4>
    <div class="textopersonal">
        <p>Soy Analista de Sistemas, vivo en <b>Granadero Baigorria, Santa Fe.</b></p>
        <p>Trabajo como Sysadmin administrando distintas infraestructuras y de manera autonoma, me gusta el desarrollo web.</p>
        <p></p>
        <p>Perfil autodidacta y proactivo, puedo unirme a una empresa y brindar todo mi conocimiento y experiencia para cumplir con los objetivos.</p>
        <p>Me gusta el trabajo en equipo, aunque me desenvuelva correctamente trabajando de manera independiente.</p>
    </div>
        
    </div>
</div>

