/* You can add global styles to this file, and also import other style files */
.small-flag{
    width: 50px;
}
.mr-1{
    margin-right: 5px;
}

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }