<div class="experiencia">
    <div class="row">
        <h3><b>Experiencia.</b></h3>
        <hr>
    </div>
	<div class="row">
		<div class="col-12 col-lg-12">
			<ul class="timeline">
                <li>
                    <h6>2020-2021</h6>
					<h5>Desarrollador de front-end | Angular</h5>
                    <p>
                        Experiencia en ANGULAR 10, contenido trabajado:
                        Style: Bootstrap, angular material y css.
                        Creación de componentes que formen a una aplicación:
                        Formularios (agregar, editar, eliminar).
                        Tablas para mostrar datos con filtro.
                        Routerlink, ruteo, proteccion de rutas
                        Consumo de servicios
                        CRUD.
                        Pipes, creacion de pipes personalizados.
                    </p>
				</li>
				<li>
                    <h6>2021-2021</h6>
					<h5>Analista de infraestructuras de TI</h5>
                    <p>
                        Virtualización Hyper-V y VMware.
                        Windows Servers 08 12 16 19, Linux. Migración de DC y File Server.
                        ABM de equipos y usuarios en Active Directory.
                        BACKUPS - Cobian 11, Veeam Backup.
                        Microsoft Exchange ABM de usuarios, carpetas y correo electrónico.
                        Redes LAN - Wireless AP, Mikrotik, Sophos Firewall, creación o modificación de políticas, creación de VPN.
                        Antivirus corporativo (Trend, Symantec, ESET, Kaspersky).
                    </p>
				</li>
				<li>
                    <h6>2020-2021</h6>
					<h5>Consultor IT Infraestructura</h5>
                    <p>
                        Análisis y solución de tickets del área de infraestructura, asistencia remota a usuarios.
                        Reparación de PCs y notebooks, reemplazo de equipos y migración de puestos completos. Documentación de procedimientos y soluciones, Documentación del estado de la infraestructura actual, proponiendo mejoras y optimizaciones. 
                        irtualización Hyper-V y VMware. Windows Servers 08 12 16 19, Linux. 
                        Migración de DC. Roles AD, DHCP, DNS, IIS, WSUS, WDS, Print Server.
                        ABM de equipos y usuarios en Active Directory.
                        BACKUPS Acronis Backup, Cobian 11, Windows server Backup.
                        Motores de base de datos MYSQL, SQL Server. Alojamiento de sitios Web.
                        MS Office 365 - G-suite ABM de usuarios, carpetas y correo electrónico, lista de distribución. Redes LAN - Wireless AP, FortiGate, Mikrotik, TPLink, creación o modificación de políticas, creación de VPN, ABM redes Wifis nuevos o existentes. Administración de antivirus ESET, actualizaciones, limpieza de registros. Antivirus corporativo (Trend, Symantec, ESET, Kaspersky).
                    </p>
				</li>
                <li>
                    <h6>2019-2020</h6>
					<h5>Service Desk Analyst</h5>
                    <p>
                        Análisis completo y resolución nivel 1 de todo incidente o requerimiento.
                        Uso de sistema de ticket.
                        Paquete office 365. 
                        Sistemas operativos: 7, 8,10, Linux, Instalaciones desatendidas
                        Armado,mantenimiento y reparacion pc y notebooks
                        Migraciones completas de puestos de trabajos.
                        Documentación la resolución de problemas. Asistencia remota. Soporte a ambiente virtual (VDI).
                        Control de stock de insumos del parque informático, Servidor de Impresoras.
                        Asistencia de software de video conferencias Polycom.
                        Resolución de incidentes con telefonía IP
                        Reemplazo de equipos antiguos y migración de datos (backups)
                        Documentación de procedimientos
                        Mantenimiento y soporte a todo el parque informático

                        Desarrollo de herramienta para help desk, centralizar todos los recursos para dar soporte a usuarios
                        finales, en una herramienta desarrollada con c# y SQL
                        Participación en laboratorios de implementación de WDS, WSUS y AD Windows server 2016.
                    </p>
				</li>
                <li>
                    <h6>2018-2019</h6>
					<h5>Technical Support Help Desk</h5>
                    <p>
                        Técnico en reparación y mantenimiento de equipos informáticos,
                        instalación de software y hardware, tareas similares
                        migración de Windows 7 a Windows 10 de Windows xp a Windows 7,
                        Copias de respaldo (backups)
                        Actualización de diferentes sistemas operativos
                        unir usuarios al dominio, correos electrónicos, asistencia remota, inventario y control completo del lugar. pc, notebooks, impresoras, redes, etc...(Soporte completo a 50 usuarios).
                    </p>
				</li>
			</ul>
		</div>
	</div>
</div>
