<div class="portafolio">
    <div class="row">
        <h3><b>Portafolio.</b></h3>
        <hr>
        <div class="card-group">
            <div class="card">
                <a href="https://rodrigo402.github.io/angular-selectoresApp/selector/selector" target="_blank">
                    <img class="card-img-top" src="assets/img/app.jpg" alt="Card image cap">
                </a>
              <div class="card-body">
                <h5 class="card-title">Selectores - Angular</h5>
              </div>
              <div class="card-footer">
                <small class="text-muted">Angular 10+</small>
              </div>
            </div>
            <div class="card">
                <a href="https://rodrigo402.github.io/angular-formulariosApp/" target="_blank">
                    <img class="card-img-top" src="assets/img/formularios.jpg" alt="Card image cap">
                </a>
              <div class="card-body">
                <h5 class="card-title">Formularios - Angular</h5>
              </div>
              <div class="card-footer">
                <small class="text-muted">Angular 10+</small>
              </div>
            </div>
            <div class="card">
                <a href="https://rodrigo402.github.io/angular-pipesApp/" target="_blank">
                    <img class="card-img-top" src="assets/img/pipes.jpg" alt="Card image cap">
                </a>
              <div class="card-body">
                <h5 class="card-title">Pipes - Angular</h5>
              </div>
              <div class="card-footer">
                <small class="text-muted">Angular 10+</small>
              </div>
            </div>
          </div>
          <div class="card-group">
            <div class="card">
                <a href="https://rodrigo402.github.io/angular-paisesApp/" target="_blank">
                    <img class="card-img-top" src="assets/img/paises.JPG" alt="Card image cap">
                </a>
              <div class="card-body">
                <h5 class="card-title">Paises - Angular</h5>
              </div>
              <div class="card-footer">
                <small class="text-muted">Angular 10+</small>
              </div>
            </div>
            <div class="card">
                <a href="https://rodrigo402.github.io/angular-gifsApp/" target="_blank">
                    <img class="card-img-top" src="assets/img/giffs.JPG" alt="Card image cap">
                </a>
              <div class="card-body">
                <h5 class="card-title">Giffs - Angular</h5>
              </div>
              <div class="card-footer">
                <small class="text-muted">Angular 10+</small>
              </div>
            </div>
            <div class="card">
                <a href="https://www.zingueriadusso.com.ar/" target="_blank">
                    <img class="card-img-top" src="assets/img/paginaweb.JPG" alt="Card image cap">
                </a>
              <div class="card-body">
                <h5 class="card-title">Pagina Web</h5>
              </div>
              <div class="card-footer">
                <small class="text-muted">HTML - CSS - BOOTSTRAP</small>
              </div>
            </div>
          </div>
    </div>
</div>
