<div class="contacto">
    <div class="row">
        <h3><b>Contacto.</b></h3>
        <hr>
    </div>
    <div class="row">
        <div class="col-12 col-lg-4">
            <h5><i class="bi bi-phone"></i>&nbsp;Numero de telefono</h5>
            <p style="padding-left: 30px;">341-6851253</p>
        </div>
        <div class="col-12 col-lg-4">
            <h5><i class="bi bi-envelope"></i>&nbsp;Email</h5>
            <a href="mailto:rodrigo.gabriel.reynoso@gmail.com">
                <p style="padding-left: 30px;">rodrigo.gabriel.reynoso@gmail.com</p>
            </a>    
        </div>
        <div class="col-12 col-lg-4">
            <h5><i class="bi bi-linkedin"></i>&nbsp;Linkedin</h5>
            <a href="https://www.linkedin.com/in/rodrigo-gabriel-reynoso-00194a1b1/" target="_blank">
                <p style="padding-left: 30px;">Rodrigo Gabriel Reynoso</p>
            </a>
           
        </div>
    </div>
</div>